body {
  text-align: center;
  background-color: black;
  font-family: verdana;
}

#header {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

#download {
  color: aquamarine;
  font-size: 16px;
}
