body {
  text-align: center;
  background-color: black;
  font-family: verdana;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

#header {
  font-weight: normal;
  font-size: 50px;
}

#download {
  color: aquamarine;
  font-size: 16px;
}

#personal {
  font-size: 21px;
  color: gray;
}

#copyright {
  text-align: right;
}
